<!DOCTYPE html>
<html lang="en">
<% include parts/head.ejs %>
<body>
<div class="container">
    <div class="content">
        <div id="searchbox">
            <input class="typeahead form-control" type="text" name="search" placeholder="Search">
        </div>
    </div>
</div>
<% include parts/footer.ejs %>
</body>
</html>